---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=fullscreen&key=<API_KEY>&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kjEFmP90GvrCl8BObMQtGoRfgaQ/0-deMJN8fij-FY_3fxliv4xp360"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/0-deMJN8fij-FY_3fxliv4xp360\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/O8y2n3KxHEIl-wf11MCEPQn0970\"",
           "id": "UCxO1tY8h1AhOz0T4ENwmpow"
          }
         ]
        }
  recorded_at: Sun, 21 Sep 2014 20:59:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCxO1tY8h1AhOz0T4ENwmpow&key=<API_KEY>&maxResults=50&order=date&part=snippet&publishedAfter=2014-09-19T20:59:34%2B00:00&publishedBefore=2014-09-21T22:59:34%2B02:00&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kjEFmP90GvrCl8BObMQtGoRfgaQ/gcgAMuwMfYriUiWSD3g3nqkTNZQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/gcgAMuwMfYriUiWSD3g3nqkTNZQ\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sun, 21 Sep 2014 20:59:35 GMT
recorded_with: VCR 2.9.3
