---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=fullscreen&key=<API_KEY>&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kjEFmP90GvrCl8BObMQtGoRfgaQ/0-deMJN8fij-FY_3fxliv4xp360"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/0-deMJN8fij-FY_3fxliv4xp360\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/O8y2n3KxHEIl-wf11MCEPQn0970\"",
           "id": "UCxO1tY8h1AhOz0T4ENwmpow"
          }
         ]
        }
  recorded_at: Sun, 21 Sep 2014 21:05:08 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCxO1tY8h1AhOz0T4ENwmpow&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kjEFmP90GvrCl8BObMQtGoRfgaQ/SxbZdH-aCaVbXen3SP8XLhKA6e0"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/SxbZdH-aCaVbXen3SP8XLhKA6e0\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/kZYFoxb-pKCg9XYVZQxidRTerj0\"",
           "id": "UCxO1tY8h1AhOz0T4ENwmpow",
           "snippet": {
            "title": "Fullscreen",
            "description": "The first media company for the connected generation.",
            "publishedAt": "2006-03-23T06:13:25.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-KMnbKDBl60w/AAAAAAAAAAI/AAAAAAAAAAA/NjmFYOCVig4/s88-c-k-no/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-KMnbKDBl60w/AAAAAAAAAAI/AAAAAAAAAAA/NjmFYOCVig4/s240-c-k-no/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-KMnbKDBl60w/AAAAAAAAAAI/AAAAAAAAAAA/NjmFYOCVig4/s240-c-k-no/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Sun, 21 Sep 2014 21:05:08 GMT
recorded_with: VCR 2.9.3
