---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=caseyneistat&key=<API_KEY>&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/Lb5QkwmbUXlzoOti9HVBRWgJW7A"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/Lb5QkwmbUXlzoOti9HVBRWgJW7A\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/bmVCO_y8HxXYiQTD0OUVqFkYUO0\"",
           "id": "UCtinbF-Q-fVthA0qrFQTgXQ"
          }
         ]
        }
  recorded_at: Thu, 25 Sep 2014 21:21:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCtinbF-Q-fVthA0qrFQTgXQ&key=<API_KEY>&maxResults=50&order=date&part=snippet&publishedAfter=2014-08-25T21:21:14%2B00:00&publishedBefore=2014-09-25T23:21:14%2B02:00&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/Zbrcsis92RQOzexy0kjIPMfl_zQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/Zbrcsis92RQOzexy0kjIPMfl_zQ\"",
         "pageInfo": {
          "totalResults": 4,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/SqICFUmyasm87FABROmU89kTsSs\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "Ef_BznBwktw"
           },
           "snippet": {
            "publishedAt": "2014-09-20T12:18:08.000Z",
            "channelId": "UCtinbF-Q-fVthA0qrFQTgXQ",
            "title": "Black Market Takes Over the iPhone 6 Lines",
            "description": "Some thoughts from me (the guy who made this movie). I am a big tech nerd. I slept on the streets to get the very first iPhone, when I was a teenager I would wait ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/Ef_BznBwktw/default.jpg"
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/Ef_BznBwktw/mqdefault.jpg"
             },
             "high": {
              "url": "https://i.ytimg.com/vi/Ef_BznBwktw/hqdefault.jpg"
             }
            },
            "channelTitle": "caseyneistat",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/ZD0ZTJcNzftH5ZZTRouwEFWhWS8\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "iXCjwLnbH6Q"
           },
           "snippet": {
            "publishedAt": "2014-09-12T13:07:35.000Z",
            "channelId": "UCtinbF-Q-fVthA0qrFQTgXQ",
            "title": "Super Fun Day With Karlie Kloss",
            "description": "add me[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=Ef_BznBwktw&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/KSBHVZefMQKjL8DqBg1HBjzxpi4"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
  [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=iXCjwLnbH6Q&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/MHMlEMZmK1plTejGwjMBK6DAVzo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/MHMlEMZmK1plTejGwjMBK6DAVzo\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/KnWdhnaR95xcwCTyQ6YDohSbyfc\"",
           "id": "iXCjwLnbH6Q",
           "snippet": {
            "publishedAt": "2014-09-12T13:07:35.000Z",
            "channelId": "UCtinbF-Q-fVthA0qrFQTgXQ",
            "title": "Super Fun Day With Karlie Kloss",
            "description": "add me on snapchat - caseyneistat\n\ncheck out https://soundcloud.com/discoteeth \n\non http://instagram.com/caseyneistat\non https://www.facebook.com/cneistat\non https://twitter.com/CaseyNeistat",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/iXCjwLnbH6Q/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/iXCjwLnbH6Q/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/iXCjwLnbH6Q/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/iXCjwLnbH6Q/sddefault.jpg",
              "width": 640,
              "height": 480
             }
            },
            "channelTitle": "CaseyNeistat",
            "categoryId": "19",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Thu, 25 Sep 2014 21:21:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=kfIc944bSJ8&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/RKjSGgW8cZ2RG1VWrlwrxf3Ou7A"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
  [...]
