---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=caseyneistat&key=<API_KEY>&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/Lb5QkwmbUXlzoOti9HVBRWgJW7A"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/Lb5QkwmbUXlzoOti9HVBRWgJW7A\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/bmVCO_y8HxXYiQTD0OUVqFkYUO0\"",
           "id": "UCtinbF-Q-fVthA0qrFQTgXQ"
          }
         ]
        }
  recorded_at: Fri, 26 Sep 2014 05:26:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCtinbF-Q-fVthA0qrFQTgXQ&key=<API_KEY>&maxResults=50&order=date&part=snippet&publishedAfter=2014-08-01T00:00:00%2B00:00&publishedBefore=2014-09-01T00:00:00%2B00:00&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/qi1Lifc3ylL2rpBVdIwI4dzbHJU"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/qi1Lifc3ylL2rpBVdIwI4dzbHJU\"",
         "pageInfo": {
          "totalResults": 6,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/ROxCFBSc_Pxg0UTOqk2NObl4TEc\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "kfIc944bSJ8"
           },
           "snippet": {
            "publishedAt": "2014-08-28T17:14:51.000Z",
            "channelId": "UCtinbF-Q-fVthA0qrFQTgXQ",
            "title": "A Love Story 8 Years in the Making",
            "description": "find the original song \"Talk\" by Henry Hall here: https://soundcloud.com/henry_hall/talk-demo Outro instrumental by Max Barbaria and Henry Hall. Check out mo.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/kfIc944bSJ8/default.jpg"
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/kfIc944bSJ8/mqdefault.jpg"
             },
             "high": {
              "url": "https://i.ytimg.com/vi/kfIc944bSJ8/hqdefault.jpg"
             }
            },
            "channelTitle": "caseyneistat",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"MmqJLb8ZBOWRQIsg7xej7lrKLMI/yMlVJokhSsm6VdM95TsQcYpujJE\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "8xdBn_8AG84"
           },
           "snippet": {
            "publishedAt": "2014-08-25T11:44:34.000Z",
            "channelId": "UCtinbF-Q-fVthA0qrFQTgXQ",
            "title": "ALS Ice Bucket Challenge by Casey Neistat",
            "description[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=kfIc944bSJ8&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/rKtrOEFNpZ8RB88Z0zJye0exXxk"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
  [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=8xdBn_8AG84&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/suM1IFf2bZ29rhP1ZH2HQ3AlG4A"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
  [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=pBjOoVbCYlA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/RxrO1oDP8rb9QyX--b7BcnjbpsU"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
  [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=EqzRxi0ilto&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MmqJLb8ZBOWRQIsg7xej7lrKLMI/GUsPhg7j73d1PeaMTpAC6XzazfE"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
  [...]
