---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=MESycYJytkU&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kjEFmP90GvrCl8BObMQtGoRfgaQ/8kU4-r1u83uKN4s-RHET5zjYbMg"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/8kU4-r1u83uKN4s-RHET5zjYbMg\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"kjEFmP90GvrCl8BObMQtGoRfgaQ/2i8eHBBE9hvpIDFgEMmsp7tHhHU\"",
           "id": "MESycYJytkU",
           "snippet": {
            "publishedAt": "2013-07-09T16:27:32.000Z",
            "channelId": "UCxO1tY8h1AhOz0T4ENwmpow",
            "title": "Fullscreen Creator Platform",
            "description": "The new Fullscreen Creator Platform gives creators and brands a suite of exclusive Fullscreen Apps to build, manage and monetize their YouTube audience. Learn more in our blog post: http://full.sc/1aW9Mua\n\nFollow Fullscreen here:\nWebsite: http://full.sc/nfC5Xp\nTwitter: http://full.sc/ZeABCP\nFacebook: http://full.sc/170rCps\nGoogle Plus: http://full.sc/UCcaj9\nInstagram: http://full.sc/ZeAIOL\n\nFullscreen is a next-generation media and technology company innovating the future of video. As the largest YouTube network according to comScore, the Fullscreen network has over 2.5 billion monthly viewers, 150 million subscribers and over 10,000 channels. Fullscreen provides a suite of end-to-end YouTube tools and services to many of the world's leading brands and media companies. Led by an experienced team online thought-leaders, Fullscreen was founded in January 2011 by George Strompolos, a co-creator of the YouTube Partnership Program. Fullscreen is based in Culver City, California. \n\nFullscreen Creator Platform\nhttp://www.youtube.com/user/Fullscreen",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/MESycYJytkU/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/MESycYJytkU/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/MESycYJytkU/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/MESycYJytkU/sddefault.jpg",
              "width": 640,
              "height": 480
             }
            },
            "channelTitle": "Fullscreen",
            "categoryId": "22",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Sun, 21 Sep 2014 21:11:50 GMT
recorded_with: VCR 2.9.3
