<h2>List of channels</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <th><%= channel.title %></th>
        <th><%= link_to 'Show', channel %></th>
      </tr>
    <% end %>
  </tbody>
</table>
