<div class=''>
  <h2>List of channels</h2>
  <ul class=''>
    <% @channels.each do |channel| %>
      <li class=''>
        <%= link_to channel.title, channel %>
      </li>
    <% end %>
  </ul>
</div>
