<h2><%= @channel.title %></h2>

<p id="notice"><%= notice %></p>

<div class='cards'>
  <% @videos.each do |video| %>
    <%= render partial: 'home/card', locals: { video: video } %>
  <% end %>
</div>

<%# <%= link_to 'Edit', edit_channel_path(@channel) %>
