<h2><%= @channel.title %></h2>

<p id="notice"><%= notice %></p>

<% @videos.each do |video| %>
  <p><%= link_to video.title, video.url %></p>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %>
