<div class="card">
  <div class="card-image">
    <%= link_to video.url, target: '_blank' do %>
      <img src="<%= video.thumbnail %>" alt="<%= video.title %>">
    <% end %>
  </div>

  <div class="card-header">
    <%= link_to video.title, video.url, target: '_blank' %>
  </div>

</div>
