<% @videos.each do |group| %>
  <div class="row">
    <% group.each do |video| %>
      <div class="col-md-4">
        <%= link_to video.title, video.url %>
      </div>
    <% end %>
  </div>
<% end %>
