// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bourbon";
@import "base/base";
@import "neat";

.channel {
  $intro-text-width: 60%;

  text-align: center;

  h2 {
    font-weight: 800;
    margin-bottom: .3em;

    @include media($large-screen) {
      font-size: 3em;
      margin-bottom: .4em;
    }
  }
}

.btn {
  @include span-columns(4);
  @include shift(4);
}
